
.headd{
background-size: cover;
background-color: #111216;
background-image: url(../../assets/img/hero-bg-shap.svg);
background-position: center;
background-repeat:no-repeat;
background-size: contain;
}

/*=========backgriound yellow design==*/
#up {position: absolute;
    height:200px;
    width:200px;
    left:0;
    border-radius: 50%;
    background-color: rgba(245, 235, 59,.8);
    filter:blur(200px);
    animation: down 5s infinite;
}
#down {position: absolute;
    right: 350px;
    top:350px;
    background-color: rgba(245, 235, 59,.8);
    width: 200px;
    height:200px;
    animation: up 5s infinite;
filter:blur(200px);
}
@keyframes down{
    0%,100%{top: -100px;
    }
    70%{top:700px;
    }
}
@keyframes up{
    0%,100%{top: 20px;
    }
    70%{top:700px;
    }
}
/*========= End===backgriound yellow design==*/

.imgtext{
display: flex;
padding: 150px 30px;
align-items: center;
justify-content: space-between;
margin-top: -150px;
}

    

.treading{
    color:#FACD35;
    font-family: 'neue-machina-regular';
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19.6px ;
letter-spacing: 2.1px;
margin-bottom: -20px;
padding-top: 50px;
}
.why{
    font-family: 'neue-machina-bold';
    font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: 98px;
color:#FeFeFe;
}
.img1{
    max-height: 400px;
    width: auto;
   margin-right: 10px;
   margin-top: -100px;
}
.joke{
   color:#C0C0BF;
   font-family: 'Inter', sans-serif;
    
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
}
#btn-get{
margin-top: 50px;
width: 190px;
 height: 50px;
background-color: #FACD35;   
border-radius: 5px;
box-shadow: none;
text-shadow: none;
border: transparent;
color:  #050505;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
    .imgtext {
        flex-direction: column ;
      }
}
 
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .imgtext {
        flex-direction: column ;
      }
}
 
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .imgtext {
        flex-direction: column ;
      }
}
 
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
    
}
