.wedo{
  background-color: #0B0C11;
 
}
.what{
  position: absolute;
  height:200px;
  width:100px;
  top:3000px;

  right: 50%;
  border-radius: 50%;
  background-color: rgba(230, 220, 70, 0.963);
  filter:blur(200px);
}


.tren{
   text-align: center;
   font-size: 80px;
   font-weight: bolder;
   font-family: 'inter';
   color: #FEFEFE; 
   font-family: 'neue-machina-regular';
}
.tre{
  text-align: center;  
  color:#C0C0BF;
  
}
.slidercointainer{
  display: flex;
  
}
#slide{
  height: 600px;
  width: 600px;
}

 .menulist{
 margin-left: 50px;
 }

.listone,.listtwo,.listthree{
  display: flex;
align-items: center;
gap:20px;
margin-top: 70px;
cursor: pointer;

}
.cyber,.secure,.securityy{
  font-family: 'neue-machina-regular';
 
  line-height: 30px;
  color:  #FEFEFE;
font-size: 26px;
font-style: normal;
font-weight: 400;

}
.sliderimg{
  margin-left: 90px;
  margin-top: 40px;
position: relative;}
#slide{

}

.banner{
  height: 610px;
}
.leftaro{
  position: absolute;
  left: 0;
top:50%;
cursor:pointer;
;
}
.rightaro{
  position:absolute ;
  right: 0;
  top:50%;
  cursor: pointer;
}
.leftaro-hiden{
  position: absolute;
  left: 0;
top:49%;
display:none;

}
.rightaro-hiden{
  position:absolute ;
  right: 0;
  top:50%;
  display:none ;
}


 /* Media Query for Mobile Devices */
 @media (max-width: 480px) {
  .slidercointainer{ flex-direction: column
  
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .slidercointainer{ flex-direction: column
  
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  .slidercointainer{ flex-direction: column
  
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
  .slidercointainer{ flex-direction: column
  
  }
}